#ui {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.button {
  background-color: #ef2d5e;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  width: 130px;
  text-align: center;
  max-width: 115px;
  padding: 10px;
}

.button:hover {
  background-color: #e42b5a;
}

#share {
  display: flex;
  align-content: center;
}

#share input {
  width: 600px;
  color: #333;
  text-align: center;
}

.hide {
  display: none !important;
}
